.plansScreen__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  opacity: 0.8;
}

.plansScreen__info > h5 {
  margin-left: 3px;
}

.plansScreen__info > button {
  padding: 10px 20px;
  margin-left: auto;
  font-size: 1rem;
  margin-top: 5px;
  background-color: #e50914;
  color: #fff;
  font-weight: 400;
  border: none;
  outline: none;
  cursor: pointer;
}

.plansScreen__info > button:hover {
  opacity: 0.9;
}
